<section class="my-4">
  <div class="container">
    <form [formGroup]='editPerForm' (ngSubmit)='submitPermission(editPerForm.value)'>
      <div class='roleInput w-25'>
        <label for="title" class="form-label">Permission Name</label>
        <input type="text" class="form-control" id="title" formControlName='title'>

      </div>

      <div class="permissions my-4" formArrayName='roles'>
        <div>
          <h5> Assign to roles</h5>
          <div *ngFor="let role of roles" class="form-check form-check-block">
            <input class="form-check-input" type="checkbox" [id]="role.title"
              [checked]="editPerForm.value.roles?.includes(role.id)" (change)="onChange(role.id , $event.target)" />
            <label class="form-check-label" [for]="role.title">{{role.title}}</label>
          </div>
        </div>
      </div>
      <div class="text-end">
        <button type="button" class="btn btn-danger me-2" (click)='deletePermission(editPerForm)'>Delete
          Permission</button>
        <button type="button" routerLink='/control/permission' class="btn btn-warning me-2"
          (click)='cancel()'>Cancel</button>
        <button type="submit" class="btn btn-primary me-2">Save</button>
      </div>
    </form>
  </div>
</section>
