<section>
  <div class="container">
    <table class="table w-50">
      <thead>
        <tr>
          <th>Permission Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let permission of allPermission'>
          <td>{{permission.title}}</td>
          <td><a class='btn btn-warning' (click)="editPermission()"
              [routerLink]="'/control/editPermission/' + permission.id"> Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
