<section>
  <div class="container">
    <div class=" d-flex align-item-center justify-content-end mb-5">
      <a routerLink="/control/AddRole" class="btn btn-primary me-3">Add Role</a>
    </div>
    <table class="table w-50">
      <thead>
        <tr>
          <th>Role Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of allRoles">
          <td>{{role.title}}</td>
          <td><a class='btn btn-warning' [routerLink]="'/control/EditRole/' + role.id">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
