<section class="my-4">
  <div class="container">
    <form [formGroup]='addUser' (ngSubmit)='subObject(addUser.value)'>
      <div class="row mb-3">
        <div class="col">
          <label for="f-name" class="form-label">First name</label>
          <input type="text" formControlName='firstname' class="form-control" id="f-name">
          <div class="text-danger my-2"
            *ngIf="addUser.get('firstname')?.errors != null && addUser.get('firstname')?.touched">
            <p *ngIf='addUser.get("firstname")?.errors?.required'>your first name is required</p>
            <p *ngIf='addUser.get("firstname")?.errors?.minlength'>your name must be more the 3 characters</p>
            <p *ngIf='addUser.get("firstname")?.errors?.maxlength'>your name must be less the 10 characters</p>
          </div>
        </div>
        <div class="col">
          <label for="s-name" class="form-label">Last name</label>
          <input type="text" class="form-control" id="s-name" formControlName='lastname'>
          <div class="text-danger my-2"
            *ngIf="addUser.get('lastname')?.errors != null && addUser.get('lastname')?.touched">
            <p *ngIf='addUser.get("lastname")?.errors?.required'>your first name is required</p>
            <p *ngIf='addUser.get("lastname")?.errors?.minlength'>your name must be more the 3 characters</p>
            <p *ngIf='addUser.get("lastname")?.errors?.maxlength'>your name must be less the 10 characters</p>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="userName" formControlName='username' />
          <div class="text-danger my-2"
            *ngIf="addUser.get('username')?.errors != null && addUser.get('username')?.touched">
            <p *ngIf='addUser.get("username")?.errors?.required'>your first name is required</p>
            <p *ngIf='addUser.get("username")?.errors?.pattern'>your id must be numbers</p>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="formFile" class="form-label">Profile Image</label>
            <input class="form-control" type="file" id="formFile" accept='image/png, image/jpeg'
              formControlName='profileImg' />
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="gender" class="form-label">Gender</label>
          <div class="d-flex">
            <div class="form-check col">
              <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" formControlName='gender'
                value="male" />
              <label class="form-check-label" for="flexRadioDefault1">
                Male
              </label>
            </div>
            <div class="form-check col">
              <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2" formControlName='gender'
                value="emale" />
              <label class="form-check-label" for="flexRadioDefault2">
                Female
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <label for="validationDefaultUsername" class="form-label">Email</label>
          <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
            <input type="email" class="form-control" id="validationDefaultUsername" formControlName='email' />
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="status" class="form-label">User Status</label>
          <select class="form-select form-select-md mb-3" id="status">
            <option value="true" name="">Active</option>
            <option value="false">not Active</option>
          </select>
        </div>
        <div class="col">
          <label for="role" class="form-label">User Role</label>
          <select class="form-select form-select-md mb-3" id="role" formControlName='roleId'>
            <option value="1">role1</option>
            <option value="2">role 2</option>
          </select>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="City" class="form-label">City</label>
          <input type="text" class="form-control" id="City">
          <!-- <div class="text-danger my-2" *ngIf="addUser.get('fName')?.errors != null && addUser.get('fName')?.touched">
            <p *ngIf='addUser.get("fName")?.errors?.required'>your first name is required</p>
            <p *ngIf='addUser.get("fName")?.errors?.minlength'>your name must be more the 3 characters</p>
            <p *ngIf='addUser.get("fName")?.errors?.maxlength'>your name must be less the 10 characters</p>
          </div> -->
        </div>
        <div class="col">
          <label for="District" class="form-label">District</label>
          <input type="text" class="form-control" id="District">
          <!-- <div class="text-danger my-2" *ngIf="addUser.get('sName')?.errors != null && addUser.get('sName')?.touched">
            <p *ngIf='addUser.get("sName")?.errors?.required'>your first name is required</p>
            <p *ngIf='addUser.get("sName")?.errors?.minlength'>your name must be more the 3 characters</p>
            <p *ngIf='addUser.get("sName")?.errors?.maxlength'>your name must be less the 10 characters</p>
          </div> -->
        </div>
      </div>

      <button [disabled]='addUser.invalid' type="submit" class="btn btn-primary me-2">{{btnName}}</button>
      <!-- <button type="submit" class="btn btn-primary me-2">Save</button> -->
      <button *ngIf="checkEdit" type="button" class="btn btn-danger mr-1" (click)='deleteUser()'>Delete user</button>
    </form>
  </div>
</section>
