<section class="mt-4">
  <div class=" d-flex align-item-center justify-content-end mb-5">
    <a routerLink="/control/addUser" class="btn btn-secondary me-3">add User</a>
    <!-- ------------------------ Button trigger modal ------------------------- -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>
</section>

<section>
  <!-- <a routerLink="control/users/addUser" class="btn btn-secondary mb-3" (click)='reset()'>add User</a> -->
  <div class="container">
    <input class="form-control w-75 mx-auto mb-4" placeholder="Search" [(ngModel)]="charSear" />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">name</th>
          <th scope="col">email</th>
          <th scope="col">role</th>
          <th scope="col">status</th>
          <th scope="col">updated</th>
          <th scope="col">last login</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of Users | searchName :charSear ,let i = index'>
          <th>{{user.username}}</th>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>{{user.status}}</td>
          <td>{{user.updatedAt |date : 'mediumDate'}}</td>
          <td>{{user.lastAccess}}</td>
          <td><a class="btn btn-warning" (click)='editUser(user)' routerLink='/control/addUser'>Edit</a></td>
        </tr>
      </tbody>
    </table>


  </div>
</section>


<!-- -------------------------------- Modal -------------------------------- -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="formFile" class="form-label">Default file input example</label>
          <input class="form-control" type="file" id="formFile" (change)="handleFileInput($event.target)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="getUsers()">Save changes</button>
      </div>
    </div>
  </div>
</div>
